{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<h1>KU Poll</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <p style="color:red">{{ message }}</p>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>{{ question.question_text }} <br>
            <a href="{% url 'polls:detail' question.id %}"><button type="button">Vote</button></a> | <a href="{% url 'polls:results' question.id %}"><button type="button">Result</button></a>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}

